body {
    padding: 0 5%;
    max-width: 1200px;
    margin: 0 auto;
    }

.navbar-collapse .collapse {
    justify-content: right;
    margin-right: 0;
}

.navbar .container-fluid .collapse .navbar-nav {
    margin: auto;
    margin-right: 0;
    justify-content: right;
  }

  .nav-link{
    color: black;
  }

  .nav-link.nav-link.active:hover  {
        color: #0056ff;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }
    
    .nav-link:hover  {
    color: #0056ff;
    }

   .nav-link.active:hover  {
        color: #0056ff;
    }

   


@media screen and (min-width: 992px) {
    
    .navbar-expand-lg .navbar-collapse{
        display: block !important;
        margin-right: 0;
    }

}